/* CSS VARIABLES */
:root {
  /* Card-Section */
  --h2-mobile-size: 38px;
  --h3-mobile-size: 25px;
}
/* DESIGNING STARTS HERE */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  scroll-behavior: smooth;
}

#scroll-to-bottom {
  font-weight: bold;
  color: green;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  background-color: white;
  max-width: 100%;
  position: relative;
}
/* This is the Owl Selector // Use for next project  */
/* * + * {
  margin: 1em 0 0;
} */

/* ALTERNATE CSS STYLESHEET AREA */

/* ALTERNATE CSS STYLESHEET AREA END */

header {
  background-color: black;
}
.navbar {
  color: white;
  text-align: center;
}
.welcome-s {
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome-s img {
  margin-top: 100px;
  width: 80%;
  aspect-ratio: 16/9;
}
h1 {
  width: 40vw;
  position: absolute;
  margin-left: 50px;
  top: 28%;
  color: white;
  font-size: 10vw;
  font-weight: 900;
  line-height: 80%;
}
ul {
  list-style: none;
}
video {
  border-radius: 20px;
}

footer {
  padding-top: 200px;
  background-color: white;
}
footer p {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 100px;
  margin: 0;
}
h6 {
  text-align: center;
  font-size: 15px;
}

/* You could:

Center content
Place multiple images next to each other
Display your tech-stack-list horizontally
Add hover effects for section 2
Make content responsively wrap to the next line 
Only use h3 in section if h2 is included above it in the section*/

@media screen and (max-width: 1024px) {
  header > .navbar {
    font-size: 14px;
  }
  .welcome-s img {
    width: 100%;
    height: 100vh;
    aspect-ratio: 16/9;
  }
  section > h1 {
    position: absolute;
    top: 35%;
    color: white;
    font-size: 10vw;
    margin-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  header > .navbar {
    font-size: 14px;
  }
  .welcome-s img {
    width: 100%;
    height: 70vh;
    aspect-ratio: auto;
  }
  section > h1 {
    color: white;
    font-size: 5rem;
    margin-left: 10px;
  }
}
