.card-s {
  height: 1200px;
}
.card-s__header-s {
  text-align: center;
  margin-bottom: 50px;
}
.card-s__header-s h2 {
  margin-top: 50px;
  font-size: 70px;
}
.card-s__header-s h3 {
  text-decoration: underline;
  font-size: var(--h3-mobile-size);
}

.card-s__card-c {
  margin: 0 5px;
  margin-bottom: 25px;
  height: 100vh;
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "B C D"
    "F G H"
    "J K L"
    "N O P"
    "R S T";
}
.card-s__card-c--card1,
.card-s__card-c--card2,
.card-s__card-c--card3,
.card-s__card-c--card4,
.card-s__card-c--card5,
.card-s__card-c--card6,
.card-s__card-c--card7,
.card-s__card-c--card8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 30%;
  padding: 15px;
  font-size: 20px;
  border: 4px solid black;
  border-radius: 9px;
  background-color: lightcoral;
}
.card-s__card-c--click {
  font-size: 25px;
  width: 450px;
  border-style: initial;
  background-color: transparent;
}

.card-s__card-c--card1 {
  grid-area: C;
}
.card-s__card-c--card1--hover:hover,
.card-s__card-c--card2--hover:hover,
.card-s__card-c--card3--hover:hover,
.card-s__card-c--card4--hover:hover,
.card-s__card-c--card5--hover:hover,
.card-s__card-c--card6--hover:hover,
.card-s__card-c--card7--hover:hover {
  border-color: #ff6a00;
  border-top-right-radius: 30%;
}
.card-s__card-c--card2 {
  grid-area: H;
}
.card-s__card-c--card3 {
  grid-area: F;
}
.card-s__card-c--card4 {
  grid-area: K;
}
.card-s__card-c--card5 {
  grid-area: P;
}
.card-s__card-c--card6 {
  grid-area: N;
}
.card-s__card-c--card7 {
  grid-area: S;
}
.card-s__card-c--card8 {
  grid-area: D;
  display: flex;
  justify-content: end;
  bottom: 0;
  font-size: 30px;
  border: none;
  background-color: transparent;
}
.card-s__header-s {
  max-width: 100vw;
}
.card-s__header-s h2 {
  font-size: var(--h2-mobile-size);
  width: 100vw;
}
.card-s__header-s h3 {
  font-size: var(--h3-mobile-size);
  text-align: center;
}
/* .card-s__card-c--card1,
.card-s__card-c--card2,
.card-s__card-c--card3,
.card-s__card-c--card4,
.card-s__card-c--card5,
.card-s__card-c--card6,
.card-s__card-c--card7,
.card-s__card-c--card8 {
  padding: 5px;
  border: 1px solid black;
  font-size: 18px;
  height: 100%;
}
.card-s__card-c--card8 {
  border: none;
  font-size: 16px;
  color: red;
} */

/* .cardButton1 {
} */
.cardButton1 ul {
  list-style: none;
  padding: 0;
}
.cardButton1 ul li:before {
  content: "\00BB \0020";
}
/* .cardButton3 {
} */
.cardButton3 ul {
  list-style: none;
  padding: 0;
}
.cardButton3 ul li:before {
  content: "\00BB \0020";
}
.cardButton3 a:visited {
  color: white;
}
.cardButton3 a {
  align-self: center;
  background-color: crimson;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  width: 170px;
  border: 1px solid black;
  border-radius: 10px;
}
.cardButton4 ul {
  list-style: none;
  padding: 0;
}
.cardButton4 ul li:before {
  content: "\00BB \0020";
}
.cardButton5 ul {
  list-style: none;
  padding: 0;
}
.cardButton5 ul li:before {
  content: "\00BB \0020";
}
.cardButton6 ul {
  list-style: none;
  padding: 0;
}
.cardButton6 {
  height: 27vh;
}
.cardButton6 ul li:before {
  content: "\00BB \0020";
}

@media screen and (max-width: 1400px) {
  .card-s__header-s {
    max-width: 100vw;
  }
  .card-s__header-s h2 {
    font-size: var(--h2-mobile-size);
    width: 100vw;
  }
  .card-s__header-s h3 {
    font-size: var(--h3-mobile-size);
    text-align: center;
  }
  .card-s__card-c--card1,
  .card-s__card-c--card2,
  .card-s__card-c--card3,
  .card-s__card-c--card4,
  .card-s__card-c--card5,
  .card-s__card-c--card6,
  .card-s__card-c--card7,
  .card-s__card-c--card8 {
    padding: 5px;
    border: 1px solid black;
    font-size: 18px;
    height: 100%;
  }
  .card-s__card-c--card8 {
    border: none;
    font-size: 16px;
    color: red;
  }
  .card-s__card-c--click {
    align-self: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 50vw;
    height: 25vh;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: 20px;
    text-align: left;
    padding: 20px;
  }
  /* .cardButton1 {
  } */
  .cardButton1 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton1 ul li:before {
    content: "\00BB \0020";
  }
  /* .cardButton3 {
  } */
  .cardButton3 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton3 ul li:before {
    content: "\00BB \0020";
  }
  .cardButton3 a:visited {
    color: white;
  }
  .cardButton3 a {
    background-color: crimson;
    color: floralwhite;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .cardButton4 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton4 ul li:before {
    content: "\00BB \0020";
  }
  .cardButton5 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton5 ul li:before {
    content: "\00BB \0020";
  }
  .cardButton6 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton6 {
    height: 27vh;
  }
  .cardButton6 ul li:before {
    content: "\00BB \0020";
  }
}

@media screen and (max-width: 600px) {
  .card-s__header-s {
    max-width: 100vw;
  }
  .card-s__header-s h2 {
    font-size: var(--h2-mobile-size);
    width: 100vw;
  }
  .card-s__header-s h3 {
    font-size: var(--h3-mobile-size);
    text-align: center;
  }
  .card-s__card-c--card1,
  .card-s__card-c--card2,
  .card-s__card-c--card3,
  .card-s__card-c--card4,
  .card-s__card-c--card5,
  .card-s__card-c--card6,
  .card-s__card-c--card7,
  .card-s__card-c--card8 {
    border: 1px solid black;
    font-size: 18px;
    height: 100%;
  }
  .card-s__card-c--card8 {
    border: none;
    font-size: 16px;
    color: red;
  }
  .card-s__card-c--click {
    align-self: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 85vw;
    height: 20vh;
    border: 1px solid black;
    background-color: aliceblue;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
  }
  /* .cardButton1 {
  } */
  .cardButton1 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton1 ul li:before {
    content: "\00BB \0020";
  }
  /* .cardButton3 {
  } */
  .cardButton3 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton3 ul li:before {
    content: "\00BB \0020";
  }
  .cardButton3 a:visited {
    color: white;
  }
  .cardButton3 a {
    background-color: crimson;
    color: floralwhite;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .cardButton3 {
    height: 28vh;
  }
  .cardButton4 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton4 ul li:before {
    content: "\00BB \0020";
  }
  .cardButton5 ul {
    list-style: none;
    padding: 0;
  }
  .cardButton5 ul li:before {
    content: "\00BB \0020";
  }
  .cardButton6 ul {
    list-style: none;
  }
  .cardButton6 {
    height: 33vh;
  }
  .cardButton6 ul li:before {
    content: "\00BB \0020";
  }
}
