.card-s {
  height: 100%;
}
.card-s__header-s {
  max-width: 50%;
  text-align: center;
}
.card-s__header-s h2 {
  margin-top: 50px;
  font-size: 70px;
}
.card-s__header-s h3 {
  text-decoration: underline;
  font-size: 30px;
}

.card-s__card-c {
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-areas:
    "B C D"
    "F G H"
    "J K L"
    "N O P"
    "R S T";
}
.card-s__card-c--card1,
.card-s__card-c--card2,
.card-s__card-c--card3,
.card-s__card-c--card4,
.card-s__card-c--card5,
.card-s__card-c--card6,
.card-s__card-c--card7,
.card-s__card-c--card8 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  border: 4px solid black;
  border-radius: 9px;
}
/* UNDER ME WAS P:HOVER!! */
.card-s__card-c--click {
  font-size: 25px;
  width: 450px;
  border-style: initial;
}
.card-s__card-c p:first-of-type {
  align-self: center;
  padding-top: 20px;
}
.card-s__card-c--card1 {
  grid-area: C;
}
.card-s__card-c--card2 {
  grid-area: H;
}
.card-s__card-c--card3 {
  grid-area: F;
}
.card-s__card-c--card4 {
  grid-area: K;
}
.card-s__card-c--card5 {
  grid-area: P;
}
.card-s__card-c--card6 {
  grid-area: N;
}
.card-s__card-c--card7 {
  grid-area: S;
}
.card-s__card-c .card-s__card-c--card8 {
  grid-area: G;
  align-self: center;
  text-align: center;
  font-size: 30px;
  border: none;
}
@media screen and (max-width: 600px) {
  .card-s__header-s {
    margin: 0 auto;
  }
  body .card-s__header-s {
    max-width: 80%;
  }
  .card-s__card-c--card1,
  .card-s__card-c--card2,
  .card-s__card-c--card3,
  .card-s__card-c--card4,
  .card-s__card-c--card5,
  .card-s__card-c--card6,
  .card-s__card-c--card7,
  .card-s__card-c--card8 {
    width: auto;
    font-size: 5px;
  }
  .card-s__card-c--click {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 80vw;
    border: 1px solid black;
    background-color: white;
    font-size: 25px;
  }
}
