.project-s__grid-s {
  display: flex;
}

/* ---------------------------------------------- */
/* # PROJECT 1 */
.project-s__grid-s__images-c {
  display: grid;
  grid-template-areas:
    "A B"
    "C D";
  max-width: 100%;
}
.project-s__grid-s__images-c--1-c a img {
  grid-area: A;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.project-s__grid-s__description-c {
  display: grid;
  grid-template-areas:
    "A B"
    "C D";
}

/* ---------------------------------------------- */
